# CMake build and binary directories
/.idea
build/
winbuild/
out/
bin/

# Visual Studio / IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj
*.filters
*.db
*.opendb

# Compiled binaries and libraries
*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.out

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

.idea
cmake-build-debug